---
import Hr from "./Hr.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <div class="copyright-wrapper">
      <span class="amazon-disclosure">
        As an Amazon Associate, I earn from qualifying purchases.
      </span>
      <span class="copyright">
        Copyright &#169; {currentYear} &nbsp;|&nbsp; All rights reserved. | <a href="/privacy-policy">Privacy Policy</a>
      </span>
    </div>
  </div>
</footer>

<style>
  footer {
    @apply w-full;
  }
  .footer-wrapper {
    @apply flex flex-col items-center py-6 sm:py-4;
  }
  .copyright-wrapper {
    @apply flex flex-col items-center gap-2;
  }
  .amazon-disclosure {
    @apply text-sm text-center mb-1;
  }
  .copyright {
    @apply text-xs text-center;
  }
</style>
